*{
    margin: 0px;
    padding: 0px;
}

header{
    background: #181818;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;

}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center; 
    gap: 20px;
    padding: 20px 0; 
}

.container img {
    width: 250px;     
    height: 350px;    
    object-fit: cover; 
    border-radius: 5px;
}

.titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titulo h1{
    text-align: center;
    color: white;
    font-size: 60px;
}

.titulo a{
    color: white;
    font-size: 20px;
    padding: 20px;
}
.titulo a span{
    text-decoration: underline;
}

.titulo a:hover{
    color: red;
}
.carro-section {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;               
    background: #181818;       
    padding: 30px;
    margin-top: 400px;
}

.texto-esquerda,
.texto-direita {
    width: 300px;  
    color: white;
}


.carro-img {
    width: 400px;   
}


.carrosel {
    background-color: #000; 
    padding: 20px 0;
}

.carrossel-container{
    max-width: 800px; 
    margin: auto; 
    overflow: hidden; 
    border: 3px solid red; 
    border-radius: 8px;
    
}

.carrossel-slide {
    display: flex; 
    width: 400%; 
}

.carrossel-slide img{
    height: 400px;
    width: 25%;
    object-fit: cover; 
    animation: slideAnimationNovo 12s infinite; 
}



@keyframes slideAnimationNovo {
    0%, 25% { transform: translateX(0); }
    
    25.1%, 50% { transform: translateX(-100%); } 

    
    50.1%, 75% { transform: translateX(-200%); } 

    
    75.1%, 100% { transform: translateX(-300%);
}
}

.containersenna{

    height: 500px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background-color:red ;
    margin: 0 auto;
}

.sennaf{
    margin-top: 40px;
    
}

.sennaf img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 0 auto;
}


.sennaf p{
    margin-top: 35px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.instituto{
    
    height: 500px;
    margin-top: 35px;
    padding: 0px 100px;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #181818;
}

.institexto{
    background-color: #181818;
    padding-left: 20px;
    align-self: center;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.institutoimagem{
    width: 250px;
    height: 110px;
    border:1px solid #181818;
    align-self: center;
    margin: 0 auto;
    height: 250px;
}

.containerVideo {
    display: block;
    margin: 50px 0px;
}

.videoSenna {
    display: block;
    margin: 0 auto;
    width: 800px;
    border: 1px solid #181818;
    border-radius: 20px;
}

.footer{
    background-color: #181818;
   
}

.footer-container {
    max-width: 1500px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding-top: 60px;
   border-bottom: 2px solid red;
}
 footer ul{
    display: flex;
    gap:90px;
 
}

footer ul a:hover{
    color: red;
}

.footer-container a {
color: white;
font-size: 20px;
}

.final-img {
    width: 150px;
}

.pfinal {
    color: white;
     padding: 20px;
     font-size: 1.0rem;
     text-align: center;
}

